* {
    margin-top: 6px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: red;
}

/*HEADER*/
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
}

.navbar .logo {
    position: relative;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: red;
    color: #fff;
    padding: 0.6rem 1rem;
    border-color: aqua;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    transition:
        /*scale*/
        0.2s ease;
    margin-top: -10px;
}

.action_btn:hover {
    /*scale: 1.05;*/
    color: #fff;
}

/*
.action_btn:active {
    scale: 0.95;
}
*/

/*DROPDOWN MENU*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu {
    display: block;

}

/*HERO*/
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/*RESPONSIVE DESIGN*/
@media(max-width : 980px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media(max-width : 570px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/*Titres*/
h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 78, 78);
}

h2 {
    color: rgb(254, 94, 94);
    margin-top: 3%;
    text-align: center;
}

h3 {
    color: rgb(254, 94, 94);
    margin-top: 3%;
}

/*Liste DL*/
dl {
    margin-top: 2%;
}

dl,
dd {
    font-size: 1rem;
    width: 100%;
}

.dl p,
dt {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(254, 94, 94);
}

dt {
    margin-top: 3%;
}

dd {
    margin-bottom: 1em;
    width: auto;
    text-align: center;
}

video {
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;

    width: 60%;
}

/*Tableau GP Lewis*/
.tableau_GP {
    margin-top: 20px;
    margin-right: 5%;
    width: 40%;

}

figure {
    align-items: center;
}

.tableau_GP table,
#tableau_GP2 table {
    background-color: rgba(255, 255, 255, 0.872);
}

.tableau_GP caption,
#tableau_GP2 caption {
    font-style: italic;
    text-align: center;
}

.tableau_GP th,
#tableau_GP2 th {
    background-color: rgba(255, 0, 0, 0.774);
}

.tableau_GP td,
#tableau_GP2 td {
    background-color: rgba(128, 128, 128, 0.879);
    text-align: center;
}

#tableau_GP2 {
    margin-left: auto;
    width: 60%;
}

.biographie {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    align-items: center;
}

.biographie img {
    width: 80%;
    border-radius: 20%;
}

#daniel {
    width: 300px;
    margin-right: 10%;
}


/*Bloc div*/
.bloc-2 {
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;

}

.bloc-2 p {
    width: 50%;
    text-align: center;
    margin-right: 10%;
}

.bloc-2 img {
    width: 80%;
    border-radius: 10%;
    align-items: end;
}

.bloc-2 dd {
    width: 70%;
    text-align: center;
    margin-right: 10%;
}

/*Footer*/
footer {
    margin-top: 6%;
    text-align: center;
    font-size: 14px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: red;
}

footer p {
    margin-top: -15px;
    color: black;
}

section p {
    text-align: center;
    margin-left: 3%;
    margin-right: 5%;
}